body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  /*max-width: 38rem;
  padding: 2rem;*/
}

/* Global */
.navbar {
  background-color: #efeeee;
  color: white;
  width: 100%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  a {
    margin-right: 1rem;
    color: gray;
    text-decoration: none;
  }
  a:hover {
    color: black;
  }
}

/* File Format */
.file-upload {
  border: gray 0.1rem dashed;
  border-radius: 0.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
}